@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.skills {
  animation: animate-scroll 4s linear forwards;
  animation-timeline: view();
  animation-range-start: 0px;
  animation-range-end: 400px;
  
}

@keyframes animate-scroll {
  0%,
  50% {
    opacity: 0.3;
  }
  100%{
    opacity: 1;
  }
}
